header{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    user-select: none;
}
.navbar-nav, .nav-item, .nav-link{
    color: rgb(255, 255, 255)
}

.header-logo{
    height: 102px;
    background-color: #88a7d0 ;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.header-nav ul{
    display: flex;
}

.header-logo-perfil{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header-logo--menu-icon{
    display: none;
}
.header-logo--logo-image{
    height: 60px;
}
.header-logo--logo-image:hover{
    /* cursor: pointer; */
}
.header-nav{
    display: flex;
    height: 40px;
    background-color: #88a7d0;
}
.header-nav-list--item{
    margin-right: 35px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-nav-list--item a:hover{
    color: #154360;
    cursor: pointer;
}

@media (min-width: 992px){
    #icono-open-navbar{
        display: none;
    }
}
@media (max-width: 768px){
    .header-logo--menu-icon{
        display: block;
    }
}
