.contenedor {
    width: 90%;
    margin: auto;
}

/*IMAGEN PRINCIPAL*/
.publicidad-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.5)0%,rgba(0,0,0,0.5)100%), url(../img/inversion-bolsa.jpg); /*Pongo una transicion y luego la img*/
    background-position: center center; /*Centro la imagen tanto vertical como horizontalmente*/
    background-size: cover; /*Para que la imagen abarque el 100% disponible*/
    margin-bottom: 3,12em;
    display: flex;
    align-items: end;

}

.publicidad-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.publicidad-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-top: 0.4em;
}

.publicidad-principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 40%;
    margin-bottom: 1.25em;
}

.publicidad-principal .boton {
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: 3s ease all;
    font-size: 1.12em;
}

.publicidad-principal .boton i {
    margin-right: 1.25em;
}

.publicidad-principal .boton:hover {
    background: #fff;
    color:#000;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {
    .pelicula-principal {
        font-size: 14px;
    }
    .pelicula-principal .descripcion {
        max-width: 100%;
    }
}